html {
  //font-size: 62.5%;
}

body {
  //font-size: $m-size;
  padding-top: 15px;
  padding-bottom: 15px;
}

button {
  cursor: pointer;
}

button:disabled {
  cursor: default;
}

.card {
  box-shadow: 0 25px 20px -20px rgba(0, 0, 0, 0.3), 0 0 15px rgba(0, 0, 0, 0.06)
}
